:root {
    --colorMain: #ac4a71;
    --gameFiledButtonPlayColor: #000000;
}

#containerMainSectionHome {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 4fr 19fr 17fr 3fr 3fr 17fr 17fr 6fr;
    grid-template-columns: 15fr 4fr 13fr 3fr 7fr 7fr 3fr 3fr 7fr 7fr 3fr 13fr 4fr 15fr;
    /*grid-template-columns: 5fr 14fr 13fr 3fr 7fr 7fr 3fr 3fr 7fr 7fr 3fr 13fr 14fr 5fr;*/

}

#containerMainHome {
    display: grid;
    grid-row: 2 / 8;
    grid-column: 2 / 14;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameElements {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 6fr 2fr 2fr 2fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-buttonPlay {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.containerGameFiled-buttonPlay {
    border-radius: 0.45rem;
    box-shadow: 0 0px 17px 9px #FFFFFF;
    opacity: 0.8;
}

.buttonPlay {
    background-color: var(--gameFiledButtonPlayColor);
    border: 0;
}

.gameFiledButtonPlayGameOver {
    background-color: #000000;
    color: #000000;
    text-shadow: 4px -1px 20px #FFFFFF;
    font-weight: 900;
    font-size: 2rem;
}

/*button start / stop*/
#containerGameFiled-buttonsMain {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-buttonsMainParts {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.05fr 1fr;
}

#containerGameFiled-buttonsMainStart {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#gameFiledButtonMainStart {
    display: flex;
    align-items: center;
    justify-content: right;
}

.gameFiledButtonMain {
    background-color: #2c3e3a;
    opacity: 0.7;
    width: 30%;
    height: 50%;
    border: 0;
    padding: 0;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #1f130e;
}

.gameFiledButtonMain-inactive {
    opacity: 0.5;
}

#containerGameFiled-buttonsMainStop {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#gameFiledButtonMainStop {
    display: flex;
    align-items: center;
    justify-content: left;
}

#containerGameFiled-statisticsTime {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsTimeParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-columns: 1fr repeat(3, 2fr);
}

#containerGameFiled-statisticsTimeBest {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsTimeMin {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsTimeAvg {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsTimeMax {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsFraudBest {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsFraud {
    display: grid;
    grid-row: 4 / 5;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsFraudParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-columns: 1fr 6fr;
}

#containerGameFiled-statisticsFraudCount {
    display: grid;
    grid-row: 2/ 3;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsFraudCountText {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerGameFiled-statisticsFraudCountGamePlay {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.containerGameFiled-commonParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 6fr 4fr;
    grid-template-columns: 1fr;
}

.containerGameFiled-commonGamePlayUpdate {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.commonGameFiledDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.commonGamePlayUpdateText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    text-align: center;
    border: 0;
    padding: 0;
}

.containerGameFiled-commonStaticText {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.commonStaticText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    text-align: center;
    border: 0;
    padding: 0;
}

.commonGamePlayUpdateTextTime {
    width: 95%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    border: none;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #1f130e;
}

.fraudCountRoundCommon {
    color: #ac4a71;
}

.statisticsFraudBestText {
    color: #ac4a71;
    opacity: 0.9;
    font-weight: 600;
}

.statisticsFraudBestUpdateNumber {
    color: #ac4a71;
    opacity: 0.9;
    font-weight: 600;
    font-size: 1.5rem;
}

.fraudCountRound {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #000000;
    color: #ac4a71;
    padding: 0px;
    font-size: 0.9rem;
    font-weight: 200;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #2a1e1e;
}

.fraudCountRoundUpdateNumber {
    color: #232323;
    font-size: 100%;
    /*font-size: 90%;*/
    font-weight: 900;
}

.statisticsFraudCountText {
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ac4a71;
    padding: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100%;
    font-weight: 200;
    border: none;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #2a1e1e;
}

.fraudCountRoundUpdateSumNumber {
    width: 100%;
    height: 100%;
    color: #ac4a71;
    font-size: 100%;
    font-weight: 900;
}

.statisticsTimeMinGamePlay {
    color: #78C209;
}

.statisticsTimeMinText {
    color: #78C209;
}

.statisticsTimeAvgGamePlay {
    color: skyblue;
}

.statisticsTimeAvgText {
    color: skyblue;
}

.statisticsTimeMaxGamePlay {
    color: #EC7998;
}

.statisticsTimeMaxText {
    color: #EC7998;
}

.statisticsTimeBestGamePlay {
    color: #e9a610;
    font-weight: 600;
    font-size: 1.3rem;
}

.fa-clock {
    font-size: 130%;
}

.fa-star {
    color: #e9a610;
    opacity: 0.7;
}

.fa-gem {
    color: #ac4a71;
    opacity: 0.7;
}

.fa-whiskey-glass {
    color: #FFFFFF;
    opacity: 0.7;
}

/* commonVariables.js -> <i fa-... ></i> */
.fa-playGameAction-beforeClick {
    color: #FFFFFF;
    opacity: 0.7;
    font-size: 1.3rem;
}

.fa-playGameAction-afterClick {
    color: #e9a610;
    opacity: 1;
    font-size: 1.3rem;
}

.fa-fraudBest {
    color: #FFFFFF;
    opacity: 0.9;
    font-weight: 600;
    font-size: 140%;
}

.fa-timeMin {
    color: #78C209;
    opacity: 0.7;
}

.fa-timeAvg {
    color: skyblue;
    opacity: 0.7;
}

.fa-timeMax {
    color: #EC7998;
    opacity: 0.7;
}

.fa-timeBest {
    color: #e9a610;
    opacity: 0.9;
}

@media (max-width: 600px) {

    #containerMainSectionHome {
        display: grid;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        grid-template-rows: 4fr 19fr 17fr 3fr 3fr 17fr 17fr 6fr;
        /*grid-template-columns: 7fr 12fr 13fr 3fr 7fr 7fr 3fr 3fr 7fr 7fr 3fr 13fr 12fr 7fr;*/
        grid-template-columns: 5fr 14fr 13fr 3fr 7fr 7fr 3fr 3fr 7fr 7fr 3fr 13fr 14fr 5fr;

    }

    .fa-playGameAction-beforeClick {
        font-size: 1.1rem;
    }

    .fa-playGameAction-afterClick {
        font-size: 1.1rem;
    }
}

@media (max-width: 1000px) {

    #containerMainSectionHome {
        display: grid;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        grid-template-rows: 4fr 19fr 17fr 3fr 3fr 17fr 17fr 6fr;
        grid-template-columns: 8fr 11fr 13fr 3fr 7fr 7fr 3fr 3fr 7fr 7fr 3fr 13fr 11fr 8fr;
    }

    .gameFiledButtonMain {
        width: 70%;
        height: 50%;
    }
}

