#containerSectionMenu {
    display: grid;
    grid-template-rows: 20fr 70fr 10fr;
    grid-template-columns: 15fr 15fr 55fr 15fr;
}

.containerMenuMain {
    display: grid;
    grid-row: 2 / 2;
    grid-column: 2 / 4;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerMenuMainParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 6fr;
}

.containerMenuTitleMain {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#menuTitle {
    display: flex;
    /*align-items: center;*/
    justify-content: left;
}

.menuTitleText {
    margin: 0;
    padding: 0;
    /*color: #ac4a71;*/
    color: lightgoldenrodyellow;
    opacity: 0.9;
    font-size: 1.8rem;
    font-weight: 400;
}

#containerMenuGameConfiguration {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerMenuGameConfigurationParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    /*grid-template-columns: 2fr  8fr;*/
    grid-template-columns: 1fr  9fr;
}

#containerMenuGameConfigurationText {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.menuGameConfigurationDisplay {
    display: flex;
    align-items: center;
    justify-content: center;

}

.menuGameConfigurationText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0;
    padding: 0;
}

.fa-screwdriver-wrench {
    color: #FFFFFF;
    opacity: 0.7;
    font-weight: 600;
    font-size: 1.8rem;
    text-shadow: 0px 0px 40px #EC7998;
}

.menuGameConfigurationButton {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #2c3e3a;
    /*color: #ac4a71;*/
    /*color: #ac4a71;*/
    color: #FFFFFF;
    opacity: 0.5;
    padding: 0px;
    /*font-size: 0.9rem;*/
    font-size: 0.8rem;
    font-weight: 200;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 1px 1px #2a1e1e;
}

.menuGameConfigurationButtonCurrentNumber {
    box-shadow: 0px 0px 3px 1px #FFFFFF;
    opacity: 0.8;
}

.menuGameConfigurationButtonClickNumberGameOn {
    opacity: 0.5;
}

.menuGameConfigurationButtonChosenNumber {
    color: #e9a610;
    opacity: 1;
    box-shadow: 0px 0px 3px 1px #e9a610;
}

#containerMenuGameConfigurationGameKind {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerMenuGameConfigurationClickNumber {
    display: grid;
    /*grid-row: 1 / 2;*/
    /*grid-column: 3 / 4;*/

    grid-row: 1 / 2;
    grid-column: 2 / 3;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerMenuGameConfigurationClickNumberParts {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

#containerMenuGameConfigurationClickNumber-row0 {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerMenuGameConfigurationClickNumberParts-row0 {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerMenuGameConfigurationClickNumber-row1 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#containerMenuGameConfigurationClickNumberParts-row1 {
    display: grid;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}



@media (max-width: 1000px) {

    #containerSectionMenu {
        display: grid;
        grid-template-rows: 20fr 70fr 10fr;
        /*grid-template-columns: 5fr 35fr 55fr 5fr;*/
        grid-template-columns: 8fr 32fr 52fr 8fr;
    }

    .menuTitleText {
        font-size: 1.8rem;
        font-weight: 400;
    }

    .fa-screwdriver-wrench {;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .menuGameConfigurationButton {
        font-size: 0.8rem;
        font-weight: 200;
    }

    .gameFiledButtonMain {
        width: 50%;
        height: 50%;
    }

}

@media (max-width: 600px) {

    #containerSectionMenu {
        display: grid;
        grid-template-rows: 20fr 70fr 10fr;
        grid-template-columns: 5fr 30fr 60fr 5fr;
    }

    #containerMenuGameConfiguration {
        display: grid;
        grid-row: 2 / 2;
        grid-column: 1 / 2;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    #containerMenuGameConfigurationParts {
        display: grid;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        grid-template-rows: 1fr;
        /*grid-template-columns: 1fr  9fr;*/
        grid-template-columns: 2fr  8fr;
    }

    #containerMenuMainParts {
        display: grid;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr;
    }

    .containerMenuTitleMain {
        display: grid;
        grid-row: 1 / 1;
        grid-column: 1 / 2;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .menuTitleText {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .fa-screwdriver-wrench {;
        font-size: 0.8rem;
    }

    .menuGameConfigurationButton {
        font-size: 0.5rem;
    }
}